@use "variables";

/* MOBILE */
@mixin mobile {
  @media (max-width: 768px) {
    @content;
  }
}

/* TABLET */
@mixin tablet {
  @media (min-width: 769px) and (max-width: 1023px) {
    @content;
  }
}

/* DESKTOP */
@mixin desktop {
  @media (min-width: 1024px) {
    @content;
  }
}

/* TITULO PRINCIPAL */
@mixin titulo-principal {
  font-family: variables.$font-titulo;
  color: variables.$verde-principal;
  text-align: center;
}