/* COLORES */
$verde-principal: rgb(6, 153, 133);
$verde-oscuro: rgb(4, 120, 104);
$verde-footer: #2d7a2d;
$naranja:rgb(255, 128, 37);
$naranja-hover: rgb(130, 60, 10);
$blanco: #ffffff;
$gris-claro: #f5f5f5;
$negro: #000000;

/* FUENTES*/
$font-base: arial, helvetica, sans-serif;
$font-titulo: "Yesteryear", cursive;
$font-secundaria: "Delius Swash Caps", cursive;

/* MEDIDAS*/
$radius-grande: 40px;
$radius-medio: 30px;
$radius-chico: 10px;