@use "../utilities/variables";
.boton {
    display: inline-block;
    padding: 15px 40px;
    background-color: rgb(255, 128, 37);
    border-radius: 40px;
    margin-top: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.boton a {
    color: #f5f5f5;
    text-decoration: none;
    display: block;
}

.boton:hover {
    background-color: rgb(130, 60, 10);
    transform: scale(1.05);
}
